<!-- FULLHEIGHT CONTENT START -->
 
<section class="section no-padding clearfix">
        <div class="full-height-box">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-margin no-padding equal-height-col">            
              <div class="flip-pricing-tables special" style="height: 300px; perspective: 384px; position: relative; transform-style: preserve-3d;">
                  <div class="pricing-table-2 front" style="height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.44s ease-out 0s;">
                    <div class="pricing-table-2-column special-table-2" style="backface-visibility: hidden;">
                      <div class="pricing-table-2-head" style="backface-visibility: hidden;">
                        <div class="title-box-2" style="backface-visibility: hidden;">
                          <h5 style="backface-visibility: hidden;">Sell At</h5></div>
                        <div class="pricing-2-box" style="backface-visibility: hidden;"> <span class="price custom-font-3" style="backface-visibility: hidden;"><span class="currency" style="backface-visibility: hidden;">$</span>23</span> </div>
                      </div>
                      <div class="pricing-table-2-content" >
                        <p style="backface-visibility: hidden;">                        
                          <a href="#" class="btn btn-xlg btn-dark btn-animation-right btn-animation-right btn-rounded" style="backface-visibility: hidden;"><span style="backface-visibility: hidden;">Sign Up</span>
                            <span class="icon-arrow-1-right" style="backface-visibility: hidden;"></span>
                            </a>
                        </p>
                       </div>
                    </div>
                  </div>         
            </div>
              
              
              
          </div>
          <div class="background-2 col-lg-6 col-md-6 col-sm-12 col-xs-12 no-margin no-padding equal-height-col">
            <div class="block-content-wrapper">
              <div class="vertical-align-content medium-top-padding medium-bottom-padding medium-left-padding medium-right-padding">
                <div class="testimonial-single testimonials-slider no-padding no-margin testimonial-single">
                  <article>
                    <div class="col-lg-12 col-md-12col-sm-12">
                      <div class="testimonials-slider-box "> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst. Maecenas ultrices diam suscipit hendrerit posuere. Maugris velit sem, vestibulum id nulla at, porttitor sagittis eros</span>                        <span class="testimonial-author-image">
                            <img src="images/avatars/avatar-1.jpg" alt="">
                            </span><span class="testimonial-author">John Doe - <span>Tehnical CEO</span></span>
                      </div>
                    </div>
                  </article>
                  <article>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="testimonials-slider-box"> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst. Maecenas ultrices diam suscipit hendrerit posuere. Maugris velit sem, vestibulum id nulla at, porttitor sagittis eros</span>                        <span class="testimonial-author-image">
                            <img src="images/avatars/avatar-2.jpg" alt="">
                            </span><span class="testimonial-author">Sara Jones - <span>CEO</span></span>
                      </div>
                    </div>
                  </article>
                  <article>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="testimonials-slider-box"> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst. Maecenas ultrices diam suscipit hendrerit posuere. Maugris velit sem, vestibulum id nulla at, porttitor sagittis eros</span>                        <span class="testimonial-author-image">
                            <img src="images/avatars/avatar-3.jpg" alt="">
                            </span><span class="testimonial-author">Sara Jones - <span>CEO</span></span>
                      </div>
                    </div>
                  </article>
                  <article>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="testimonials-slider-box"> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst. Maecenas ultrices diam suscipit hendrerit posuere. Maugris velit sem, vestibulum id nulla at, porttitor sagittis eros</span>                        <span class="testimonial-author-image">
                            <img src="images/avatars/avatar-4.jpg" alt="">
                            </span><span class="testimonial-author">Sara Jones - <span>CEO</span></span>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- FULLHEIGHT CONTENT END -->
     
<!-- FULLHEIGHT CONTENT START -->

 <!-- TESTIMONIAL SECTION START -->
      <section class="section gray-background clearfix">
        <div class="container-fluid">
          <div class="intro-text centered">
            <h1>Our Customers</h1>
            <hr class="separator-accent">
            <h3> We design and develop services for customers of all sizes, specializing in <br/> creating stylish, modern websites, web services and online stores.</h3> </div>
          <!-- TESTIMONIAL NAVIGATION START -->
          <div class="testimonials-slick-nav"> <span class="slick-testimonial-prev" data-id="#testimonials-carousel-1">
        <span class="icon-arrow-1-left"></span> </span> <span class="slick-testimonial-next" data-id="#testimonials-carousel-1">
        <span class="icon-arrow-1-right"></span> </span>
          </div>
          <!-- TESTIMONIAL NAVIGATION END -->
          <!-- TESTIMONIAL CAROUSEL START -->
          <div class="testimonials-carousel testimonials-slider" id="testimonials-carousel-1">
            <article>
              <div class="client-testimonials-wrap">
                <div class="testimonials-box testimonials-slider-box withimage"> <span class="testimonial-image"><img alt="Testimonial Avatar" src="images/avatars/avatar-1.jpg" width="70" height="70"></span> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst.</span>                  <span class="testimonial-author">John Doe - <span>Tehnical CEO</span></span>
                </div>
              </div>
            </article>
            <article>
              <div class="client-testimonials-wrap">
                <div class="testimonials-box testimonials-slider-box withimage"> <span class="testimonial-image"><img alt="Testimonial Avatar" src="images/avatars/avatar-2.jpg" width="72" height="72"></span> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst.</span>                  <span class="testimonial-author color-2">John Doe - <span>Tehnical CEO</span></span>
                </div>
              </div>
            </article>
            <article>
              <div class="client-testimonials-wrap">
                <div class="testimonials-box testimonials-slider-box withimage"> <span class="testimonial-image"><img alt="Testimonial Avatar" src="images/avatars/avatar-3.jpg" width="72" height="72"></span> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst.</span>                  <span class="testimonial-author color-2">John Doe - <span>Tehnical CEO</span></span>
                </div>
              </div>
            </article>
            <article>
              <div class="client-testimonials-wrap">
                <div class="testimonials-box testimonials-slider-box withimage"> <span class="testimonial-image"><img alt="Testimonial Avatar" src="images/avatars/avatar-4.jpg" width="72" height="72"></span> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst.</span>                  <span class="testimonial-author color-2">John Doe - <span>Tehnical CEO</span></span>
                </div>
              </div>
            </article>
            <article>
              <div class="client-testimonials-wrap">
                <div class="testimonials-box testimonials-slider-box withimage"> <span class="testimonial-image"><img alt="Testimonial Avatar" src="images/avatars/avatar-5.jpg" width="72" height="72"></span> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst.</span>                  <span class="testimonial-author color-2">John Doe - <span>Tehnical CEO</span></span>
                </div>
              </div>
            </article>
            <article>
              <div class="client-testimonials-wrap">
                <div class="testimonials-box testimonials-slider-box withimage"> <span class="testimonial-image"><img alt="Testimonial Avatar" src="images/avatars/avatar-6.jpg" width="72" height="72"></span> <span class="testimonial-text">Nullam consectetur vel nunc sit amet ornare. Morbi ut venenatis dolor. In hac habitasse platea dictumst.</span>                  <span class="testimonial-author color-2">John Doe - <span>Tehnical CEO</span></span>
                </div>
              </div>
            </article>
          </div>
          <!-- TESTIMONIAL CAROUSEL END -->
        </div>
      </section>
      <!-- TESTIMONIAL SECTION END -->