<!-- CALL TO ACTION END -->
<!-- COPYRIGHTS START -->
<section id="copyrights" class="copyrights-center double-padding">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="widget-social pull-center">
                <li><a class="icon-type it-main-color" href="https://twitter.com/clickpaygh"><span class="icon-twitter"></span></a></li>
                <li><a class="icon-type it-main-color" href="https://www.facebook.com/clickpaygh"><span class="icon-facebook"></span></a></li>
                <li><a class="icon-type it-main-color" href="https://www.instagram.com/clickpaygh"><span class="icon-instagram"></span></a></li>
                <li><a class="icon-type it-main-color" href="https://plus.google.com/112176484432082267248"><span class="icon-google-plus"></span><span></span></a></li>
            </ul>
        </div>
    </div>
</section>
<section id="copyrights" class="copyrights-center footer-3">
    <div class="container-fluid">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 ">
            <h4 class="title small"><a href="/services">Services</a></h4> </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 ">
            <h4 class="title small"><a href="/aboutus">About Us</a></h4> </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 ">
            <h4 class="title small"><a href="/terms">Terms & Conditions</a></h4> </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 ">
            <h4 class="title small"><a href="/privacy">Privacy Policy</a></h4> </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 ">
            <h4 class="title small"><a href="/contactus">Contact Us</a></h4> </div>
    </div>
    <p class="copyrights-text">Copyrights &#169; 2016 All Rights Reserved <a href="http://clickpay.com.gh" target="_blank">cedix.io</a>
</section>


